<div class="container-fluid">
    <div class="row integration-header">
        <div class="col-5 integration-title">
            <div>DeFi Integrations</div>
        </div>
    </div>
    <div class="row integration-card-row">
        <div class="col integration-card">
            <div class="row integration-card-header">
                <img class="integration-card-icon rounded float-start" alt="uniswap-icon" src="assets/img/uniswap-icon.png">
                <span class="integration-card-title">Uniswap</span>
            </div>
            <div class="row integration-card-margin-top">
                <span>Swap, earn, and build on the leading decentralized crypto trading protocol.</span>
            </div>
            <div class="row integration-card-margin-top text-end">
                <span class="integration-card-arrow">➜</span>
            </div>
        </div>
        <div class="col integration-card">
            <div class="row integration-card-header">
                <img class="integration-card-icon rounded float-start" alt="aave-icon" src="assets/img/aave-icon.png">
                <span class="integration-card-title">Aave</span>
            </div>
            <div class="row integration-card-margin-top">
                <span>Decentralized liquidity protocol where users can participate as depositors or borrowers.</span>
            </div>
            <div class="row integration-card-margin-top text-end">
                <span class="integration-card-arrow">➜</span>
            </div>
        </div>
        <div class="col integration-card">
            <div class="row integration-card-header">
                <img class="integration-card-icon rounded float-start" alt="dydx-icon" src="assets/img/dydx-icon.png">
                <span class="integration-card-title">dYdX</span>
            </div>
            <div class="row integration-card-margin-top">
                <span>Trade Perpetuals on the most powerful decentralized trading platform.</span>
            </div>
            <div class="row integration-card-margin-top text-end">
                <span class="integration-card-arrow">➜</span>
            </div>
        </div>
    </div>
</div>
