<div class="container-fluid landing-page-container">
    <div class="row landing-page-header">
        <div class="col-3">
            <span class="landing-title">FUNGi</span>
        </div>
        <div class="col-2 offset-7">
            <dip-basic-button class="float-end" label="landingPage.goToApp" routerLink="/app"></dip-basic-button>
        </div>
    </div>
    <div class="row landing-page-subtitle">
        <div class="col-12">
            <span>Decentralized</span>
            <br>
            <span class="line-margin-top">Finance Protocol</span>
        </div>
    </div>
    <div class="row landing-page-text">
        <div class="col-12">
            <span>Bringing asset management on-chain. </span>
            <br>
            <span class="line-margin-top">Connecting crypto managers and retail investors seamlessly. </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="custom-button-1" routerLink="/app">{{ 'landingPage.createDefund' | translate }}</button>
            <button class="custom-button-1 margin-left" routerLink="/app">{{ 'landingPage.exploreDefund' | translate }}</button>
        </div>
    </div>
    <div class="row landing-page-text landing-page-section text-center landing-page-section-start">
        <div class="col-10 offset-1">
            <span>We bring asset management on-chain, making it more transparent, secure, efficient, and accessible. By automating asset management processes through smart contracts and decentralized protocols, we eliminate intermediaries and fees.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-1">
            <div class="landing-page-card">
                <span class="landing-page-card-title text-center">01. Finance Protocol.</span>
                <br>
                <span class="landing-page-card-text">Fungi is a decentralized finance (DeFi) protocol that connects crypto managers and retail investors through non-custodial investment vehicles known as DeFunds.</span>
            </div>
        </div>
        <div class="col-5">
            <div class="landing-page-card">
                <span class="landing-page-card-text">Decentralized Funds (DeFunds) are on-chain investment vehicles that allow crypto managers to perform non-custodial asset management strategies for investors using the best DeFi protocols.</span>
                <br>
                <button class="landing-page-card-button" routerLink="/app">{{ 'landingPage.createOrJoinDefund' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="row landing-page-section-start">
        <div class="col-10 offset-1">
            <span class="landing-page-title-2">02. What can you do with a DeFund?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-1">
            <div class="landing-page-card">
                <span class="landing-page-card-title text-center">For Investors</span>
                <br><br>
                <span class="landing-page-card-text-small">Join a DeFund in a few clicks and enjoy its performance without needing to actively manage it.</span>
                <br><br>
                <span class="landing-page-card-text-small">Leverage the expertise of skilled crypto managers who invest in the best DeFi protocols via smart contracts for increased security and transparency.</span>
                <br><br>
                <span class="landing-page-card-text-small">Join as many DeFunds as you want.</span>
                <br><br>
                <span class="landing-page-card-text-small">Flexibility to deposit and withdraw funds whenever you desire.</span>
                <br><br>
                <button class="landing-page-card-button" routerLink="/app">{{ 'landingPage.start' | translate }}</button>
            </div>
        </div>
        <div class="col-5">
            <div class="landing-page-card">
                <span class="landing-page-card-title text-center">For Asset Managers</span>
                <br><br>
                <span class="landing-page-card-text-small">Create a DeFund in under a minute and begin monetizing your investment skills.</span>
                <br><br>
                <span class="landing-page-card-text-small">Perform non-custodial asset management using the best DeFi protocols such as Uniswap, AAVE, dYdX, Balancer, Curve, and more.</span>
                <br><br>
                <span class="landing-page-card-text-small">Create as many DeFunds as you want.</span>
                <br><br>
                <span class="landing-page-card-text-small">Enjoy full decision-making power and perform any DeFi strategy available on Fungi's protocol without worrying about smart contract architecture.</span>
                <br><br>
                <button class="landing-page-card-button" routerLink="/app">{{ 'landingPage.start' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="row landing-page-section-start">
        <div class="col-10 offset-1">
            <span class="landing-page-title-2">03. Easiest setup.</span>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-10 offset-1">
                <table class="landing-page-table">
                    <tbody>
                    <tr>
                        <td class="align-middle landing-page-subtitle text-end">ONE.</td>
                        <td class="align-middle landing-page-text">Give your DeFund a name.</td>
                    </tr>
                    <tr>
                        <td class="align-middle landing-page-subtitle text-end">TWO.</td>
                        <td class="align-middle landing-page-text">Choose a Network for the DeFund to live in.</td>
                    </tr>
                    <tr>
                        <td class="align-middle landing-page-subtitle text-end">THREE.</td>
                        <td class="align-middle landing-page-text">Give it a short description.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-8 offset-2">
                <span class="landing-page-subtitle">DONE</span>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <button class="custom-button-round" routerLink="/app">Start</button>
            </div>
        </div>
    </div>
    <div class="row landing-page-section-start">
        <span class="landing-page-subtitle">Want to get in touch?</span>
        <br><br>
        <span class="landing-page-title-2">hello@fungiproject.xyz</span>
        <br><br>
        <div class="row landing-page-socials">
            <span class="landing-page-socials-text">Twitter</span>
            <span class="landing-page-socials-text">LinkedIn</span>
            <span class="landing-page-socials-text">Mirror</span>
        </div>
    </div>
    <div class="row landing-page-section-start text-center">
        <div class="col-10 offset-1">
            <span class="landing-page-title-2">Join the<br>Investment Network</span>
        </div>
    </div>
</div>
