$background-color: #f4f0f0;
$sidenav-background-color: #0f0f0f;

$default-margin: 24px;
$default-border-radius: 25px;
$default-box-shadow: 0 1px 3px 0 #000;
$card-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

$signature-color-1: #5d18f7;

$text-color-1: #ffffff;

$input-height: 55px;
